@import url('../../constants/color.css');

.common-game-area {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0.05vw;
  height: 100vh;
  width: 80vw;
  border: 0.001em solid var(--secondary-color);
  border-left: 0.001em solid var(--secondary-color);
  background-color: var(--primary-color);
  box-sizing: border-box;
  float: left;
}