:root{
   --color-text-main: #eadfdf;
   --background: rgb(104, 104, 234);
   --primary-color: #8B4513;
   --secondary-color: #000000;
   --cards-secondary-background-color: #A0522D;
   --game-area-circle-block-color: #FFFF00;
   --game-area-circle-block-background-color: #8d5120;
   --cards-list-background-color: #481601;
   --game-area-background-color: #503017;
}