  .cards-list {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #481601;
  }
  .card {
    width: 100px;
    height: 150px;
    margin: 0 10px;
    background-color: #8B4513;
  }
  .card:nth-child(even) {
    background-color: #A0522D;
  }
  .card:hover {
    transform: scale(1.2);
  }