@import url('../../constants/color.css');

.cards-list {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: var(--cards-list-background-color);
}

.card {
  width: 10%;
  height: 75%;
  margin: 0 0.1%;
  background-color: var(--primary-color);
}

.card:hover {
  transform: scale(1.2);
}